doctype html
head
    title Evaluations - L&eacute;gendons
    include includes/head.pug
#wrapper
    include includes/navbar.pug
    #content-wrapper.d-flex.flex-column
        #content
            include includes/header.pug
            .container-fluid
                h3.text-dark.mb-4 Mes évaluations
                .card.shadow
                    .card-header.py-3.d-sm-flex.justify-content-between.align-items-center.mb-4
                        p.text-primary.m-0.font-weight-bold Liste des évaluations
                        if user.permissions.includes('create_eval')
                            button.openModalCreate.btn.btn-success.btn-sm.d-none.d-sm-inline-block(type="button" data-toggle="modal" data-target="#modalCreate")
                                i.fas.fa-plus.fa-sm.text-white
                                | &nbsp;Créer une évaluation
                    .card-body
                        .row
                            .col-md-6.text-nowrap
                                #dataTable_length.dataTables_length(aria-controls='dataTable')
                                    label
                                        | Afficher&nbsp;
                                        select#affichage.form-control.form-control-sm.custom-select.custom-select-sm
                                            option(value='10' selected='') 10
                                            option(value='25') 25
                                            option(value='50') 50
                                            option(value='100') 100
                            .col-md-6
                                #dataTable_filter.text-md-right.dataTables_filter
                                    label
                                        input.form-control.form-control-sm(type='search' aria-controls='dataTable' placeholder='Rechercher')
                        #dataTable.table-responsive.table.mt-2(role='grid' aria-describedby='dataTable_info')
                            table#dataTable.table.my-0
                                thead
                                    tr
                                        th Nom
                                        th Matière
                                        th Nombre de schémas
                                        th Date début
                                        th Date fin
                                        if user.permissions.includes("create_eval")
                                            th Actions
                                tbody
                                    each val, index in evaluations
                                        tr(id_eval=val.id_eval id="row-" + index)
                                            td #{val.nom_eval}
                                            td #{val.nom_matiere}
                                            td #{val.nb_schemas}
                                            td #{val.date_start}
                                            td #{val.date_end}
                                            if user.permissions.includes("create_eval")
                                                td.text-left(style='padding: 8px;')
                                                    button.openModalEdit.btn.btn-primary.btn-sm(type='button' data-toggle="modal" data-target="#modalEdit" style='padding: 2px 4px;')
                                                        i.fas.fa-pen
                                                    button.openModalDelete.btn.btn-danger.btn-sm(type='button' data-toggle="modal" data-target="#modalDelete" style='padding: 2px 6px; margin-left: 2px;')
                                                        i.fa.fa-trash
                        .row
                            .col-md-6.align-self-center
                                p#dataTable_info.dataTables_info(role='status' aria-live='polite')
                            .col-md-6
                                nav.d-lg-flex.justify-content-lg-end.dataTables_paginate.paging_simple_numbers
                                    ul.pagination
        include includes/footer
    include includes/pagetop
#modalCreate.modal.fade(role='dialog' tabindex='-1')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            form#createEval
                .modal-header
                    h4.modal-title Créer une évaluation
                    button.close(type='button' data-dismiss='modal' aria-label='Fermer')
                        span(aria-hidden='true') &times;
                .modal-body.ui-front
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Nom de l'évaluation
                        .col
                            input#nomInputCreate.form-control.form-control-user(type='text' name='nom' required maxlength="30")
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Nom de la matière
                        .col
                            #listeMatsOnCreate
                            input#listeMatsCreate.listeMats.ui-widget.form-control.form-control-user(type="text" name='etudiant' placeholder='Chercher une matière')
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Liste des schémas
                        .col
                            #listeSchemasOnCreate
                            input#listeSchemasCreate.listeSchemas.ui-widget.form-control.form-control-user(type="text" name='groupe' placeholder='Chercher un schéma')
                    #coef
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Date début
                        .col
                            #dateEvalonCreateD.input-group.date
                            input#dateEvalCreateD.form-control(type='text').input-group-addon
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Date fin
                        .col
                            #dateEvalonCreateF.input-group.date
                            input#dateEvalCreateF.form-control(type='text').input-group-addon
                .modal-footer
                    button.btn.btn-light(type='button' data-dismiss='modal') Fermer
                    button.btn.btn-success(type='submit') Enregistrer
#modalEdit.modal.fade(role='dialog' tabindex='-1')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            form#editEval
                .modal-header
                    h4.modal-title Modifier une évaluation
                    button.close(type='button' data-dismiss='modal' aria-label='Fermer')
                        span(aria-hidden='true') &times;
                .modal-body.ui-front
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Nom de l'évaluation
                        .col
                            input#nomInputEdit.form-control.form-control-user(type='text' name='nom' required maxlength="30")
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Nom de la matière
                        .col
                            #listeMatsOnEdit
                            input#listeMatsEdit.listeMats.ui-widget.form-control.form-control-user(type="text" name='etudiant' placeholder='Chercher une matière')
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Liste des schémas
                        .col
                            #listeSchemasOnEdit
                            input#listeSchemasEdit.listeSchemas.ui-widget.form-control.form-control-user(type="text" name='groupe' placeholder='Chercher un schéma')
                    #coefonEdit
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Date début
                        .col
                            #dateEvalonEditD.input-group.date
                            input#dateEvalEditD.form-control(type='text').input-group-addon
                    .form-group.row
                        .col-4.mb-3.mb-sm-0
                            label.col-form-label Date fin
                        .col
                            #dateEvalonEditF.input-group.date
                            input#dateEvalEditF.form-control(type='text').input-group-addon
                .modal-footer
                    button.btn.btn-light(type='button' data-dismiss='modal') Fermer
                    button.btn.btn-success(type='submit') Enregistrer

include includes/scripts
script(src="/assets/js/evaluations.js")